Main Workflow (AI Lead Capture & Chat Automation)-n8n.json
{
  "name": "AI RAG Agent for Instagram",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3e21c03a-13ef-4635-88a5-c3c6f0de58e7",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -240,
        400
      ],
      "webhookId": "instagram-webhook",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3bdb4e1-b538-43b6-b128-6766b70e8817",
              "leftValue": "={{ $json.query[\"hub.mode\"] }}",
              "rightValue": "=subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f7e7d8f6-df90-4100-b1e5-183ff7400ead",
              "leftValue": "={{ $json.query[\"hub.verify_token\"] }}",
              "rightValue": "YOUR_VERIFY_TOKEN",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        416
      ],
      "id": "a02ef7d2-90d4-4fcf-bf3f-ad573e1d011d",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        400
      ],
      "id": "8325e3ee-121b-4c70-914c-43a9d7005a0d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Question:\n{{ $node[\"Instagram Webhook\"].json.body.entry[0].messaging[0].message.text }}\n\nRelevant Knowledge:\n{{ $json.result[0].payload.text }}\n\nAnswer clearly using only the above knowledge.\n",
        "options": {
          "systemMessage": "You are a helpful assistant to my instagram account . your job is to answer my follwers questions , dont exceed the reply with 100 chracters "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        848
      ],
      "id": "eafaec13-77a6-41a3-8bd2-47e9b85d33bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        656
      ],
      "id": "e23df023-4736-427a-abb9-03beba921957",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  {\n    \"content\": {\n      \"parts\": [\n        {\n          \"text\": $node[\"Instagram Webhook\"].json.body.entry[0].messaging[0].message.text\n        }\n      ]\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        848
      ],
      "id": "343561f0-d0a2-4209-b484-75dfe6d6cafe",
      "name": "Embed User Question"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_QDRANT_URL/collections/YOUR_COLLECTION_NAME/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{\n  {\n    \"vector\": $node[\"Embed User Question\"].json.embedding.values,\n    \"limit\": 1,\n    \"with_payload\": true\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        848
      ],
      "id": "2ca419a9-9a3e-412f-9ebc-ae0c1c0d2062",
      "name": "Search Qdrant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v18.0/{{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_INSTAGRAM_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n  \"text\": {{ JSON.stringify($json.output) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        848
      ],
      "id": "72103213-a16f-46b3-adfa-eb94e6eb5897",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are a precise data extraction engine. Analyze the user's input string.\n\nYour specific job is to extract:\n1. Name (Person's name)\n2. Email (Valid email address)\n3. Phone (Phone number)\n\nRULES:\n- Return ONLY a raw JSON object. Do not include markdown formatting (no ```json tags).\n- If a specific field is NOT present in the text, you MUST set its value to null.\n- If only a Name is found, Email and Phone must be null.\n- If only Email and Phone are found, Name must be null.\n- If NO contact information is found, return all fields as null.\n\nREQUIRED JSON FORMAT:\n{\n  \"name\": \"extracted_name_or_null\",\n  \"email\": \"extracted_email_or_null\",\n  \"phone\": \"extracted_phone_or_null\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        176
      ],
      "id": "a40872b3-7bd5-4e30-87be-9ed77d4a8b63",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c47ad728-81fe-4d9a-8c34-57b4be07f73a",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "jsCode": "// Get the output text from the AI Agent\nconst aiResponse = $input.first().json.output;\n\ntry {\n  // 1. Clean up the text (remove ```json and ``` markers if present)\n  const cleanText = aiResponse.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  // 2. Parse the text into a real JSON object\n  const contactData = JSON.parse(cleanText);\n\n  // 3. Return the clean data\n  return contactData;\n\n} catch (error) {\n  // If something goes wrong, return nulls so the workflow doesn't stop\n  return {\n    name: null,\n    email: null,\n    phone: null\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        176
      ],
      "id": "a9226c85-ed2e-4f1f-a6ec-6560262d565d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc2056c2-3cbe-4d53-82f4-17123932f778",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "881b62dd-e66e-43d0-96ab-da74042d4310",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "80d24c89-5c12-4dd2-a34d-c13b48b38b36",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        176
      ],
      "id": "6c2bfc87-520f-454a-b543-29e6f6bb00a8",
      "name": "If1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "INSTAGRAM LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "InstagramID",
              "lookupValue": "={{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        160
      ],
      "id": "145c853b-ccfe-40c4-863e-d81a24d289ff",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "864072ef-7448-49ac-baf6-729a5de3ff59",
              "leftValue": "={{ ($json.InstagramID || '').toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        160
      ],
      "id": "3ffd8f1a-eaf8-4854-be8f-9bad8f81b472",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "INSTAGRAM LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Code in JavaScript').item.json.name }}",
            "Phone": "={{ $('Code in JavaScript').item.json.phone }}",
            "Email": "={{ $('Code in JavaScript').item.json.email }}",
            "InstagramID": "={{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
            "LastUpdated": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "InstagramID",
              "displayName": "InstagramID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastUpdated",
              "displayName": "LastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        48
      ],
      "id": "7f919e82-0782-4e3a-9b1c-daa17a61f641",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "INSTAGRAM LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "LastUpdated": "={{ $now }}",
            "InstagramID": "={{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}",
            "Email": "={{ $('Code in JavaScript').item.json.email || $json.Email }}",
            "Phone": "={{ $('Code in JavaScript').item.json.phone || $json.Phone }}",
            "Name": "={{ $('Code in JavaScript').item.json.name || $json.Name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "InstagramID",
              "displayName": "InstagramID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastUpdated",
              "displayName": "LastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        224
      ],
      "id": "0b4a826a-8148-48d8-9004-88d39ac3e948",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "INSTAGRAM LEADS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "InstagramID",
              "lookupValue": "={{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        704
      ],
      "id": "d4427087-f13d-423e-bc74-95871744686b",
      "name": "Get row(s) in sheet2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b244e61-1603-4983-b474-40938ceb6c9e",
              "leftValue": "={{ ($json.InstagramID || '').toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        768
      ],
      "id": "ab08563a-c958-4584-b46d-c652dc039aa8",
      "name": "Is User Known"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v18.0/{{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_INSTAGRAM_ACCESS_TOKEN "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Instagram Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"Hi! Welcome to Firstday AI. 🚀\\n\\nTo help you better, could you please share your:\\n1. Name\\n2. Phone Number\\n3. Email\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        640
      ],
      "id": "118be6f3-5072-4dd6-a824-edbcc1e602d5",
      "name": "Send Welcome Message"
    }
  ],
  "pinData": {},
  "connections": {
    "Instagram Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embed User Question": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Is User Known",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is User Known": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Embed User Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
  },
  "tags": []
}